
.p-1 {
  background-color: $pr-1;
  // &:hover {
  //   background-color: $pr-2;
}

.p-2 {
  background-color: $pr-2;
}
.p-3 {
  background-color: $pr-3;
}
.p-4 {
  background-color: $pr-4;
}

.pl-11 {
  background-color: $l-11;
}
.pl-12 {
  background-color: $l-12;
}
.pl-13 {
  background-color: $l-13;
}
.pl-14 {
  background-color: $l-14;
}
.pl-21 {
  background-color: $l-21;
}
.pl-22 {
  background-color: $l-22;
}
.pl-23 {
  background-color: $l-23;
}
.pl-24 {
  background-color: $l-24;
}
.pl-31 {
  background-color: $l-31;
}
.pl-32 {
  background-color: $l-32;
}
.pl-33 {
  background-color: $l-33;
}
.pl-34 {
  background-color: $l-34;
}

.pd-11 {
  background-color: $d-11;
}
.pd-12 {
  background-color: $d-12;
}
.pd-13 {
  background-color: $d-13;
}
.pd-14 {
  background-color: $d-14;
}
.pd-21 {
  background-color: $d-21;
}
.pd-22 {
  background-color: $d-22;
}
.pd-23 {
  background-color: $d-23;
}
.pd-24 {
  background-color: $d-24;
}
.pd-31 {
  background-color: $d-31;
}
.pd-32 {
  background-color: $d-32;
}
.pd-33 {
  background-color: $d-33;
}
.pd-34 {
  background-color: $d-34;
}
.green {
  background-color: #09a912;
}
.red {
  background-color: #f44747;
}
.orange {
  background-color: #ffaa33;
}
.blue {
  background-color: #21a5f8;
}
