.label {
  font-size: $font-size;
}
.header-6 {
  font-size: $h6;
  color: $d-34;
  font-family: "PoppinsM";
}
.header-5 {
  font-size: $h5;
  color: $d-34;
  font-family: "PoppinsM";
}
.header-4 {
  font-size: $h4;
  color: $d-34;
  font-family: "PoppinsM";
}

.header-3 {
  font-size: $h3;
  color: $d-34;
  font-family: "PoppinsSB";
}

.header-2 {
  font-size: $h2;
  color: $d-24;
  font-family: "PoppinsM";
}
.header-2:hover {
  background-color: $pr-1;
  color: #fff;
}

.header-1 {
  font-size: $h1;
  color: $d-34;
  font-family: "PoppinsB";
}

.label {
  color: $d-14;
}

.discription-text-content {
  color: $l-14;
  font-size: $paragraph;
}

.paragraph {
  font-family: "PoppinsR";
  font-size: $paragraph;
  color: $d-14;
}

.subtitle {
  font-family: "PoppinsR";
  font-size: $subtitle;
  color: $d-14;
}

.list-style {
  font-family: "PoppinsR";
  font-size: $list-style;
  color: $d-14;
  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
      content: "\2713";
      color: white;
      background: $l-11;
      width: 14px;
      height: 14px;
      margin-right: 15px;
      border-radius: 50%;
      font-size: 10px;
      line-height: 17px;
      font-weight: bolder;
      display: inline-block;
      text-align: center;
    }
  }
}

.quotation {
  font-family: "PoppinsR";
  font-size: $quotation;
  color: $d-11;
  background-color: $l-21;
  border-left: 2px solid $d-11;
  padding-left: 15px;
}

.text-block-wrapper {
  .quotation {
    width: 300px;
  }
}
