@mixin base-btn($bg-color, $width) {
    border: 1px solid $bg-color;
    background-color: $bg-color;
    color: white;
    width: $width;

    &.hover {
        background-color: mix($light, $bg-color, 70%);
        border-color: mix($light, $bg-color, 70%);
        color: white;
    }

    &.disabled {
        background-color: mix($light, $d-24, 70%);
        border-color: mix($light, $d-24, 70%);
        color: white;
    }
}

.btn1 {
    @include base-btn($pr-2, 100px);
    width: 100px;
}

.btn2 {
    @include base-btn($pr-1, 100px);
    width: 100px;
}

.btn3 {
    @include base-btn($pr-1, 130px);
    width: 100px;
}

.btn4 {
    @include base-btn($pr-2, 100px);
    background-color: white;
    color: $pr-2;
    width: 100px;
}

.btn5 {
    @include base-btn($pr-1, 100px);
    background-color: white;
    color: $pr-1;
    width: 100px;
}