@mixin base-btn($bg-color, $width) {
    border: 1px solid $bg-color;
    background-color: $bg-color;
    color: white;
    width: $width;

    &.hover {
        background-color: mix($light, $bg-color, 70%);
        border-color: mix($light, $bg-color, 70%);
        color: white;
    }

    &.disabled {
        background-color: mix($light, $d-24, 70%);
        border-color: mix($light, $d-24, 70%);
        color: white;
    }

    &.small {
        height: 30px;
        line-height: 30px;
        padding: 0;
        width: $width * 0.7;
    }
}

$standart-btn: 200px;

.btn1 {
    @include base-btn($pr-2, $standart-btn);
}

.btn2 {
    @include base-btn($pr-1, $standart-btn);
}

.btn3 {
    @include base-btn($pr-1, $standart-btn * 1.3);
}

.btn4 {
    @include base-btn($pr-2, $standart-btn);
    background-color: white;
    color: $pr-2;
}

.btn5 {
    @include base-btn($pr-1, $standart-btn);
    background-color: white;
    color: $pr-1;
}
