$chose-input-size: 20px;

@mixin normal-input {
  border: 1px solid $l-14;
  background-color: $l-34;
  color: $pr-4;
}

@mixin hover-input {
  border: 1px solid $l-34;
  background-color: white;
  color: $pr-4;
}

@mixin active-input {
  border: 1px solid $l-11;
  background-color: white;
  color: $pr-4;
}

@mixin check-box-base($content, $el-color, $bg-color, $type: "checkbox") {
  position: relative;
  cursor: pointer;
  height: 0;
  width: 0;

  &::before {
    content: $content;
    position: absolute;
    width: $chose-input-size;
    height: $chose-input-size;
    line-height: $chose-input-size * 0.75;
    border: 2px solid $el-color;
    color: white;
    background-color: $bg-color;
    top: -$chose-input-size / 2;
    left: -$chose-input-size / 2;
    text-align: center;

    @if $type != 'checkbox' {
      border-radius: 50%;
      background-color: white;
      color: $bg-color;
      line-height: $chose-input-size * 0.5;
      font-size: $chose-input-size * 1.4;
    }
  }
}

input[type="radio"] {
  &.normal {
    @include check-box-base(" ", $l-24, white, 'radio');
  }

  &.hover {
    @include check-box-base(" ", $pr-1, white, 'radio');
  }

  &.selected {
    @include check-box-base("\25CF", $pr-1, $pr-1, 'radio');
  }

  &.disabled {
    @include check-box-base("\25CF", $l-24, $l-24, 'radio');
  }
}

input[type="checkbox"] {
  &.check-box {
    @include check-box-base(" ", $l-24, white);
  }

  &.check-box.hover {
    @include check-box-base(" ", $pr-1, white);
  }

  &.check-box.selected {
    @include check-box-base("\2713", $pr-1, $pr-1);
  }

  &.check-box.disabled {
    @include check-box-base("\2713", $l-24, $l-24);
  }
}

input.normal {
  @include normal-input;
}

.dropdown-normal {
  @include normal-input;
}

input.hover {
  @include hover-input;
}

.dropdown-hover {
  @include hover-input;
}

input.active {
  @include active-input;
}

.dropdown-active {
  @include active-input;
}

input.numbers-changer {
  background-color: $l-34;
  text-align: center;
  max-width: 100px;
}

input.success {
  background-color: white !important;
  color: green !important;
  border-color: green !important;
}

input.error {
  background-color: white !important;
  color: red !important;
  border-color: red !important;
}

input[type="radio"],
.radio-btn {
  position: relative;
  left: initial;
}

.control-elements {
  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
  }
  .check-box-label {
    font-size: 13px;
    margin-left: 15px;
  }
}
