$pr-1: #03a9f4;
$pr-2: #f75e2e;
$pr-3: #ecfa4d;
$pr-4: #656a70;

$light: #fff;
$dark: #000;

$l-11: mix($light, $pr-1, 40%);
$l-12: mix($light, $pr-2, 40%);
$l-13: mix($light, $pr-3, 40%);
$l-14: mix($light, $pr-4, 40%);

$l-21: mix($light, $pr-1, 70%);
$l-22: mix($light, $pr-2, 70%);
$l-23: mix($light, $pr-3, 70%);
$l-24: mix($light, $pr-4, 70%);

$l-31: mix($light, $pr-1, 90%);
$l-32: mix($light, $pr-2, 90%);
$l-33: mix($light, $pr-3, 90%);
$l-34: mix($light, $pr-4, 90%);

$d-11: mix($dark, $pr-1, 20%);
$d-12: mix($dark, $pr-2, 20%);
$d-13: mix($dark, $pr-3, 20%);
$d-14: mix($dark, $pr-4, 20%);

$d-21: mix($dark, $pr-1, 50%);
$d-22: mix($dark, $pr-2, 50%);
$d-23: mix($dark, $pr-3, 50%);
$d-24: mix($dark, $pr-4, 50%);

$d-31: mix($dark, $pr-1, 70%);
$d-32: mix($dark, $pr-2, 70%);
$d-33: mix($dark, $pr-3, 70%);
$d-34: mix($dark, $pr-4, 70%);

.container-header {
  margin-left: 70px;
}
.top {
  height: 150px;
  background-color: #182e48;
  margin-bottom: 60px;
  color: white;
}
.circle {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-bottom: -15px;
  border-radius: 50%;
}
#colors {
  width: 630px;
  height: 480px;
  float: left;
}
.marg {
  width: 150px;
  margin-left: 25px;
}
#colors pre,
#colors .circle {
  display: inline-block;
}
.main-color {
  margin-left: 650px;
}
.marg-p .color-title {
  margin-left: 7px;
}
.marg-p {
  background-color: #f6f6f6;
  margin: -9px 0;
  padding: 10px 0;
}
.main-color .circle {
  margin-bottom: 19px;
}
.clear {
  clear: both;
}
.typography {
  margin-top: 300px;
}
.p-1 {
  background-color: $pr-1;
  // &:hover {
  //   background-color: $pr-2;
}

.p-2 {
  background-color: $pr-2;
}
.p-3 {
  background-color: $pr-3;
}
.p-4 {
  background-color: $pr-4;
}

.pl-11 {
  background-color: $l-11;
}
.pl-12 {
  background-color: $l-12;
}
.pl-13 {
  background-color: $l-13;
}
.pl-14 {
  background-color: $l-14;
}
.pl-21 {
  background-color: $l-21;
}
.pl-22 {
  background-color: $l-22;
}
.pl-23 {
  background-color: $l-23;
}
.pl-24 {
  background-color: $l-24;
}
.pl-31 {
  background-color: $l-31;
}
.pl-32 {
  background-color: $l-32;
}
.pl-33 {
  background-color: $l-33;
}
.pl-34 {
  background-color: $l-34;
}

.pd-11 {
  background-color: $d-11;
}
.pd-12 {
  background-color: $d-12;
}
.pd-13 {
  background-color: $d-13;
}
.pd-14 {
  background-color: $d-14;
}
.pd-21 {
  background-color: $d-21;
}
.pd-22 {
  background-color: $d-22;
}
.pd-23 {
  background-color: $d-23;
}
.pd-24 {
  background-color: $d-24;
}
.pd-31 {
  background-color: $d-31;
}
.pd-32 {
  background-color: $d-32;
}
.pd-33 {
  background-color: $d-33;
}
.pd-34 {
  background-color: $d-34;
}
.green {
  background-color: #09a912;
}
.red {
  background-color: #f44747;
}
.orange {
  background-color: #ffaa33;
}
.blue {
  background-color: #21a5f8;
}
