.label {
  font-size: $font-size;
}
.header-6 {
  font-size: $h6;
  color: $d-34;
  font-family: "PoppinsM";
}
.header-5 {
  font-size: $h5;
  color: $d-34;
  font-family: "PoppinsM";
}
.header-4 {
  font-size: $h4;
  color: $d-34;
  font-family: "PoppinsM";
}

.header-3 {
  font-size: $h3;
  color: $d-34;
  font-family: "PoppinsSB";
}

.header-2 {
  font-size: $h2;
  color: $d-24;
  font-family: "PoppinsM";
}

.header-1 {
  font-size: $h1;
  color: $d-34;
  font-family: "PoppinsB";
  //   font-size: 35px;
}

.label {
    color: $l-14;
}

.discription-text-content {
    color: $l-14;
}